body {
  background: url(plantation.jpg) no-repeat center center fixed;
  background-size: cover;
}

.hero {
  color: darkgrey;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 5%;
  text-align: center;
  font-size: 50px;
  line-height: 1.23em;
  font-family: 'Spicy Rice', cursive;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

.hero-big {
  color: darkgrey;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 5%;
  text-align: center;
  font-size: 60px;
  line-height: 1.23em;
  font-family: 'Spicy Rice', cursive;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

.ima {
  margin-top: 20%;
  height: 123px;
  width: 200px;
}

.img-thumbnail {
  border: 2px solid green;
  /* border: 0 none; */
  box-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
  background: darkgrey;
}

.footer {
  background-color: darkgrey;
  color: darkgreen;
  bottom: 0;
  position: fixed;
  font-family: 'Abril Fatface';
}
